:root {
  --semi-green: #50C878;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.2)
    ),
    url("/assets/images/login.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-optical-sizing: auto;
  font-style: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.container {
  border-radius: 10px;
  height: 550px;
  max-width: 800px;
  background-color: white;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

.loginInfo {
  padding: 4rem 0rem 0rem 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loginInfo > h4 {
  font-size: x-large;
  font-weight: 500;
  padding-bottom: 1rem;
}

.loginInfo > p {
  font-weight: 400;
  color: grey;
  font-size: 12px;
}

.flexBox {
  display: flex;
  justify-content: space-between;
}

.formInfo {
  padding: 2rem 1rem 3rem 4rem;
}

.formInfo > label {
  font-size: small;
}

.formInfo > input {
  width: 349.333px;
  height: 36px;
  border-radius: 5px;
  border: 1px solid var(--semi-green);
  margin-bottom: 12px;
  padding-left: 5px;
}

.formInfo > button {
  width: 100%;
  height: 36px;
  color: white;
  background-color: var(--semi-green);
  border-style: none;
  border-radius: 5px;
  font-weight: 700;
}

.signUp {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin-top: 3rem;
}

.signUp-Text {
  font-weight: 400;
  color: grey;
  font-size: 12px;
}

.signup-link {
  font-weight: 400;
  color: var(--semi-green);
  font-size: 12px;
}

.illustration {
  top: 5rem;
  position: relative;
  height: 400px;
  width: 50%;
  padding: 1rem;
}
