:root {
  --semi-green: #005a55;
}



.about > h3 {
  text-align: center;
  color: var(--semi-green);
}

.about > p {
  font-weight: 300;
}

.about > ol > li {
  font-weight: 300;
}

.about ol > li > span {
  color: var(--semi-green);
  font-weight: 400;
}
