@import url("fonts.css");

:root {
  --primary-clr: #efefef;
  --secondary-clr: #519259;
  --white: #eaf1f0;
  --black: #262626;
  --black-100: #89857f;
  --orange: #f69b03;
  --hover-orange: orange;
  --navbar-height: 70px;
  --secondary-txt-clr: #494949;
}

/* Global reset styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transform: translateZ(0);
}

a {
  text-decoration: none;
  color: var(--black);
}

html,
body {
  font-family: "Poppins", sans-serif;
  background-color: var(--primary-clr);
  color: var(--black);
}

body {
  position: relative;
}

.custom-shape-divider-top-1707568621 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  opacity: 0;
  animation: 3s uptodown ease-in;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

.custom-shape-divider-top-1707568621 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 300px;
}

.custom-shape-divider-top-1707568621 .shape-fill {
  fill: #ffffff;
}

/* Navbar styles */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 30px;
  /* animation: 1s uptodown ease-in-out; */
  transform: translateZ(0);
  color: var(--secondary-txt-clr);
}

.sticky {
  position: fixed;
  inset: 0;
}

.logo {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 22px;
}
.logo-img {
  height: 40px;
  object-fit: contain;
}

.logo > a {
  display: inline-flex;
}

.nav-list {
  list-style: none;
  display: flex;
  font-size: 15px;
  font-weight: 500;
  gap: 30px;
}

.nav-list li {
  position: relative;
}

.nav-list li::before {
  position: absolute;
  bottom: 0;
  content: "";
  width: 0; /* Initially set the width to 0 */
  height: 2px;
  background: var(--orange);
  transition: width 0.3s ease; /* Add a transition for a smooth effect */
}
.nav-list li:hover::before {
  width: 100%; /* Expand the underline to 100% on hover */
}
.logo-text {
  font-weight: 600;
  font-size: 24px;
  font-family: "Dancing Script", cursive;
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-decoration-thickness: 1.4px;
  text-underline-offset: 0.5rem;
  color: var(--black);
}

.nav-sign-in-btn-txt {
  color: var(--white);
  font-weight: 500;
  cursor: pointer;
  position: relative;
}

.nav-sign-in-btn {
  background: var(--secondary-clr);
  border: 2px solid var(--secondary-clr);
  border-radius: 8px;
  padding: 4px 8px;
  transition: 0.2s transform ease-in-out;
  transform: translateZ(0);
}

.nav-sign-in-btn:active {
  transform: scale(0.95);
}

.container {
  max-width: 1300px; /* Adjust this value based on your design */
  margin: 0 auto; /* Center the container */
  padding: 0 20px; /* Define left and right margins */
  box-sizing: border-box; /* Include padding and border in the total width */
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

.main-container {
  margin-top: 64px;
}

.transition {
  animation: 1.5s uptodown ease-in;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes uptodown {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Component styles */

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Button */
.btn {
  background: var(--secondary-clr);
  padding: 8px 16px;
  color: var(--white);
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 0.9rem;
  border: 1px solid var(--secondary-clr);
  border-radius: 8px;
  z-index: 9;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.btn:active {
  transform: scale(0.95);
}
