@import url("fonts.css");

:root {
  --primary-clr: #f5ede0;
  --secondary-clr: #005a55;
  --white: #eaf1f0;
  --black: #262626;
  --black-100: #89857f;
  --light-green: white;
  --semi-green: #629460;
  --dark-green: #243119;
  --hover-green: #50c878;
  --hover-white: rgba(255, 255, 255, 0.081);
  --navbar-height: 70px;
}

/* Global reset styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transform: translateZ(0);
}

a {
  text-decoration: none;
  color: var(--light-green);
}

html,
body {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  background-color: var(--primary-clr);
  color: var(--black);
}

/* Navbar styles */
.header {
  display: block;
  min-height: var(--navbar-height);
}

.navbar {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 14px 200px;
  animation: 1s uptodown ease-in-out;
  transform: translateZ(0);
  background-color: var(--secondary-clr);
  color: var(--white);
  border-radius: 50px;
}

.sticky {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.logo {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 22px;
}
.logo-img {
  width: 70px;
  object-fit: contain;
}

.nav-list {
  list-style: none;
  display: flex;
  font-size: 18px;
}

.nav-list li {
  margin: 0 15px;
  position: relative;
}

.nav-list li::before {
  position: absolute;
  bottom: 0;
  content: "";
  width: 0; /* Initially set the width to 0 */
  height: 2px;
  background: var(--hover-green);
  transition: width 0.3s ease; /* Add a transition for a smooth effect */
}
.nav-list li:hover::before {
  width: 100%; /* Expand the underline to 100% on hover */
}
.nav-list a {
  color: var(--light-green);
  font-weight: 600;
}

.nav-list a:hover {
  color: var(--hover-green);
}

.transition-text {
  animation: 1.5s uptodown ease-in;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes uptodown {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Component styles */

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

/* Button */
.btn {
  background: none;
  padding: 12px 20px;
  color: var(--light-green);
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 1.5rem;
  border: 1px solid var(--light-green);
  border-radius: 8px;
  z-index: 9;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.btn:hover {
  background: var(--hover-white);
  /* border-color: var(--hover-green); */
  color: var(--hover-green);
}

.btn:active {
  transform: scale(0.9);
}
