@import url(global.css);

.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)),
    url(../assets/images/homepage/heroImg.jpg) center / cover no-repeat;
  height: 600px;
  position: relative;
}

.hero-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.content {
  max-width: 720px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 10px;
  margin-top: 140px;
  color: white;
}

.meowtainer {
  position: relative;
}

.meow-text {
  position: absolute;
  top: 30px;
  left: -30px;
  height: 120px;
  animation: uptodown 1s ease-in-out;
  animation-delay: 1.8s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.meow-text > img {
  height: inherit;
  object-fit: contain;
  mix-blend-mode: multiply;
}

.hero-txt {
  font-size: 2.8rem;
  line-height: 1.7ch;
  font-weight: 700;
}

.start-btn-container {
  animation: uptodown 1s ease-in-out;
  animation-delay: 1.2s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.start-btn {
  font-weight: 500;
}

.image {
  height: 330px;
  border-radius: 24px;
}

.image-container {
  display: flex;
  gap: 10px;
  flex-grow: 1;
  justify-content: space-between;
}

.dog-selfie {
  /* position: absolute; */
  animation: uptodown 1s ease-in-out;
  animation-delay: 1.2s;
  animation-fill-mode: forwards;
  opacity: 0;
  transform: translateY(70px);
}
.ginger-cat {
  /* position: absolute; */
  animation: uptodown 1s ease-in-out;
  animation-delay: 1.4s;
  animation-fill-mode: forwards;
  opacity: 0;
  transform: translateY(120px);
}
.golden-retreiver {
  /* position: absolute; */
  animation: uptodown 1s ease-in-out;
  animation-delay: 1.6s;
  animation-fill-mode: forwards;
  opacity: 0;
  transform: translateY(100px);
}

.widget {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  position: absolute;
  z-index: 9;
  width: 100%;
  top: 93%;
}

.widget__card {
  width: 350px;
  height: 200px;
  padding: 12px 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6px;
  border-radius: 16px;
}

.widget__card--transparent {
  background: transparent;
}

.widget__card--block {
  background: #fff;
}

.widget__paw-icon {
  display: inline-block;
  background-color: var(--secondary-clr);
  padding: 8px;
  border-radius: 50%;
}

.widget__paw-icon > i {
  font-size: 1.8rem;
}

.widget h2 {
  font-size: 20px;
}

.widget p {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
}

.widget__learn {
  cursor: pointer;
  padding-top: 12px;
  color: var(--orange);
  font-size: 14px;
}
